/* ----------------------SELECTOR DE ATRIBUTOS CON COMODINES */

/* Comienza con [attr^="value"] */
[href^="www"]{
    color: red;
}

/* Termina con [attr$="value"] */
[href$=".com"]{
    text-transform: uppercase;
}

/* Contiene [attr*="value"] */
[href*="//"]{
    text-shadow: 0px 1px 15px black;
}

/* ----------------------Pseudoclases */

/* Aplica a todos los enlaces excepto el último elemento (:last-child) */
a:not(:last-child){
    border-right: 2px solid black;
}

/* Aplica a todos los enlaces excepto los elementos vacíos (:empty) */
.caja:not(:empty){
    background-color: green;
    padding: 15px;
}

/* :nth-child y :nth-last-child Seleccionan el primer o último hijo según su posición */
a:nth-child(2n+1){
    font-weight: bold;
}