*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja{
    margin: 20px;
}

img{
    width: 400px;
    background-color: green;
}

h2{
    text-align: center;
    margin-top: 50px;
}
button{
    margin-top: 20px;
    padding: 6px 12px;
    margin-left: 120px;
    background-color: grey;
    color: white;
    cursor: pointer;
    
}

/* Cambiando de color al figure y figcaption*/
.clasePropia:hover{
    background-color: rgb(51, 122, 155);
}

