<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue práctica-1</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1> <!-- Interpolación -->
        
        <ul>
            <li v-for="mes of meses">hoy es el mes de:{{mes}}</li>
        </ul>
        
        <ul>
            <li v-for="fruta in frutas">
                <input type="number" v-model.number="fruta.cantidad"> {{fruta.nombre}}
                <span v-if="fruta.cantidad === 0">- Sin stock</span> <!-- Condicional -->
                <button @click="fruta.cantidad++">+</button>
            </li>
        </ul>

        <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta"> <!-- Evento Input-Text -->

        <button v-on:click="agregarFruta">Click aquí</button> <!-- Evento Forma1 -->
        <button @click="agregarEstado">Presiona aquí</button> <!-- Evento Forma2 -->

        <h3>TOTAL: {{sumarFrutas}}</h3> <!-- Llamando a la función (computed) -->
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="js/practica1.js"></script>
</body>
</html>