*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.titulo{
    width: 700px;
}

.titulo h1{
    margin-top: 50px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.producto{
    display: flex;
    flex-direction: row;
    background-color: rgb(199, 199, 199);
    padding: 30px 30px;
    width: 700px;
    margin-bottom: 20px;
}

.producto .img-producto img{
    vertical-align: top;
    margin-right: 30px;
}

.producto .titulo-producto a{
    text-decoration: none;
}
.producto .titulo-producto a h3{
    color: rgb(179, 21, 21);
    text-decoration: none;
    margin-bottom: 12px;
}

.producto .precio-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.producto .precio-producto .precio p{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.producto .precio-producto .btn button{
    padding: 8px 16px;
    border: none;
    background-color: rgb(51, 255, 0);
}

.producto .precio-producto .btn button:hover{
    cursor: pointer;
    background-color: rgb(5, 199, 38);
}

.producto .precio-producto .btn button:focus{
    outline: none;
}

/*-------- Habilitarlo con JavaScript!! --------*/

.cont-select-producto{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.850);
    display: none;
}

.select-producto{
    width: 500px;
    box-shadow: 0px 0px 0px 3px crimson,
                0px 0px 0px 5px white,
                0px 0px 0px 7px crimson;
    padding: 20px 30px;
    background-color: rgb(212, 212, 212);
}

.select-producto .titulo-prod{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.select-producto .resumen-prod .cont-prod{
    margin-bottom: 10px;
}

.select-producto .resumen-prod .descripcion{
    display: flex;
    flex-direction: row;
}

.select-producto .resumen-prod .descripcion .cant{
    width: 10%;
    background-color: crimson;
    color: white;
    font-size: 18px;
    padding: 2px 0px;
    text-align: center;
}

.select-producto .resumen-prod .descripcion .imagen{
    width: 20%;
    background-color: crimson;
    color: white;
    font-size: 18px;
    padding: 2px 0px;
    text-align: center;
}

.select-producto .resumen-prod .descripcion .prod{
    width: 50%;
    background-color: crimson;
    color: white;
    font-size: 18px;
    padding: 2px 0px;
    text-align: center;
}

.select-producto .resumen-prod .descripcion .prec{
    width: 20%;
    background-color: crimson;
    color: white;
    font-size: 18px;
    padding: 2px 0px;
    text-align: center;
}

.select-producto .resumen-prod .prod-elegidos{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0px;

}

.select-producto .resumen-prod .prod-elegidos .cant{
    width: 10%;
    text-align: center;
}

.select-producto .resumen-prod .prod-elegidos .imagen{
    width: 20%;
}

.select-producto .resumen-prod .prod-elegidos .imagen img{
    width: 60px;
}

.select-producto .resumen-prod .prod-elegidos .prod{
    width: 50%;
    text-align: center;
}

.select-producto .resumen-prod .prod-elegidos .prec{
    width: 20%;
    text-align: center;
}

.select-producto .resumen-prod .prod-prec-total{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 17px;
}

.select-producto .btn-prod{
    display: flex;
    justify-content: center;
}

.select-producto .btn-prod .btn{
    padding: 8px 16px;
    border: none;
    background-color: rgb(75, 226, 37);
    margin: 0px 15px;
    outline: none;
    transition: transform .3s ease;
}

.select-producto .btn-prod .limpiar{
    background-color: rgb(236, 144, 144);
}

.select-producto .btn-prod .btn:hover{
    cursor: pointer;
    transform: scale(.9,.9);
}

.cont-spinner{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.109);
}

